/*小地图*/
.bottom-right {
    position: fixed; /* 固定定位 */
    right: 0;       /* 右边距设为0 */
    bottom: 0;      /* 下边距设为0 */
    width: 350px;   /* 设置图片的宽度，可以根据需要调整 */
    height: auto;   /* 保持图片的宽高比 */
    z-index: 10;    /* 确保图片在其他内容的上层 */
    border-radius: 10px; /* 使边角圆滑 */
    border: 10px solid #c5c6c7; /* 边框：5px宽，实线 */
}

/*大地图*/
.Map {
    width: 100%;
    height: auto;
    left: 0;
}

/*导航栏尺寸与颜色*/
.navbar {
    position: fixed; /* 固定定位导航栏 */
    top: 0; /* 固定在页面顶部 */
    left: 0;
    width: 100%; /* 占满整个宽度 */
    background-color: #496b56;
    padding: 20px;
}

/* 导航菜单样式 */
.navbar-menu {
    list-style-type: none; /* 移除默认的列表样式 */
    margin: 0; /* 外边距设为0 */
    padding: 0; /* 内边距设为0 */
    display: flex; /* 使用Flexbox布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

/* 菜单项样式 */
.navbar-menu li {
    margin: 0 15px; /* 每个菜单项的左右间距 */
}

/* 链接样式 */
.navbar-menu a {
    color: white; /* 链接文字颜色 */
    text-decoration: none; /* 去除下划线 */
    font-size: 16px; /* 字体大小 */
    padding: 8px 16px; /* 链接的内边距 */
    transition: background-color 0.3s; /* 背景色的过渡效果 */
}

/* 鼠标悬停时的链接样式 */
.navbar-menu a:hover {
    background-color: #575757; /* 背景色变为灰色 */
    border-radius: 4px; /* 圆角效果 */
}

/* 滑动条基本参数 */
.slider-container {
  width: 700px;  /* 滑动条的宽度 */
  height: 30px;  /* 滑动条的高度 */
  background-color: #ddd;
  position: fixed;  /* 固定位置 */
  bottom: 30px;  /* 距离页面底部的距离 */
  left: 50%;  /* 水平居中 */
  transform: translateX(-50%); /* 水平居中调整 */
  border-radius: 15px;
  cursor: pointer; /* 鼠标样式 */
}

/* 滑动条细节参数 */
.slider-track {
  width: 100%;
  height: 100%;
  background-color: #ddd; /* 滑动条的背景颜色 */
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3), /* 明显的内部阴影 */
            0 1px 2px rgba(255, 255, 255, 0.2); /* 柔和的外部光亮 */
}

/* 滑块基本参数 */
.slider-handle {
  width: 50px;  /* 滑块的宽度 */
  height: 30px; /* 滑块的高度 */
  background-color: #ffbd17; /* 滑块的颜色 */
  border-radius: 15px; /* 滑块圆角 */
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%); /* 滑块位置调整 */
  cursor: grab; /* 鼠标样式 */
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3), /* 明显的内部阴影 */
              0 1px 2px rgba(255, 255, 255, 0.2); /* 柔和的外部光亮 */
}

